<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="Hwcui_WSS_Content_13SP1_2KConnectionString" connectionString="Data Source=WIN-2D10C362GIE;Initial Catalog=Hwcui_WSS_Content_13SP1_2K;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>